# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
# 所有环境变量文件都不应提交到版本控制
.env*
!.env.example
!.env.production.example

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# logs
logs/nginx/access.log
